{% extends "base.twig" %}

{% block content %}

<!-- INTRODUCTION -->
<section id="home" class="introduction-container">

    <div class="intro-content-layout">
        <!-- PARAGRAPHS -->
        <div style="display: grid; gap: 10px">
            <h5 style="margin: 0">
                We build systems that move data with precision, ensuring precise functionalities and problem-solving.
            </h5>
            <p style="margin: 0">
                From the user interface to the core application logic and down into the backend infrastructure, our work focuses on designing pipelines that behave predictably, scale under load, and fail gracefully.
            </p>
        </div>

        <!-- FLOW -->
        <div class="flow-rows-container">

            <!-- USER -->
            <div class="flow-row">
                <!-- icon & title -->
                <nav class="flow-title-container">
                    <img class="flow-title-icon" src="./static/images/icons/interface/user.png" alt="User Profile Icon"/>
                    <span class="flow-title">User</span>
                </nav>
                <span class="flow-body">
                    Interaction layer. Input capture, session handling, and event flow.
                </span>
            </div>

            <span class="flow-branch"></span>

            <!-- APPLICATION -->
            <div class="flow-row">
                <!-- icon & title -->
                <nav class="flow-title-container">
                    <img class="flow-title-icon" src="./static/images/icons/interface/application.png" alt="User Profile Icon"/>
                    <span class="flow-title">Application</span>
                </nav>
                <span class="flow-body">
                    Business logic, orchestration, validation, and service coordination.
                </span>
            </div>

            <span class="flow-branch"></span>

            <!-- BACKEND -->
            <div class="flow-row">
                <!-- icon & title -->
                <nav class="flow-title-container">
                    <img class="flow-title-icon" src="./static/images/icons/interface/backend.png" alt="User Profile Icon"/>
                    <span class="flow-title">Backend</span>
                </nav>
                <span class="flow-body">
                    Persistent storage, distributed services, automated processes, and secure data flow.
                </span>
            </div>
        </div>
    </div>

    <!-- SECTION_BREAK -->
    <nav style="width: 100%; height: 0; border-bottom: 1px solid var(--border-color); margin-top: 100px"></nav>
</section>

<!-- SERVICES -->
<section id="services" class="services-container">

    <!-- SECTION TITLE -->
    <div class="section-title-container">
        <h5>Services We Deliver</h5>
        <p>
            We deliver engineering services built around clarity, reliability, and precise execution. Each solution is designed as part of a larger system—optimized for performance, security, and long-term stability.
        </p>
    </div>

    <!-- SERVICES ITEMS -->
    <div class="services-layout">

        <!-- TWIG FOR-LOOP -->
        {% for service in SERVICES_WE_DELIVER %}
        <div class="service-container">
            <!-- title -->
            <div class="service-title-container">
                <h5>{{service.title}}</h5>
                <img src="./static/images/icons/interface/{{service.icon}}" alt="Interface Icon"/>
            </div>
            <!-- description -->
            <p class="service-description">
                {{service.description}}
            </p>
        </div>
        {% endfor %}

    </div>
    <!-- SECTION_BREAK -->
    <nav style="width: 100%; height: 0; border-bottom: 1px solid var(--border-color); margin-top: 100px"></nav>
</section>

<!-- PACKAGES -->
<section id="packages" class="packages-container">

    <div class="packages-title-tools-layout">
        <!-- SECTION TITLE -->
        <div class="section-title-container" style="margin: 0; padding: 0">
            <h5>Service Packages</h5>
            <p>
                We work with tools that don’t break under pressure. Everything we integrate—frameworks, runtimes, databases, cloud services, and deployment stacks—is chosen for stability, performance, and long-term support. No hype-driven tech. Only mature, reliable components that let systems run cleanly and scale without drama.
            </p>
        </div>

        <!-- TOOLS -->
        <div class="tools-icons-layout">
            <img style="width: 40px" class="tool-icon" src="./static/images/tools/flutter-seeklogo.png" alt="Flutter Logo"/>
            <img class="tool-icon" src="./static/images/tools/python-seeklogo.png" alt="Python Logo"/>
            <img class="tool-icon" src="./static/images/tools/fastapi-seeklogo.png" alt="FastAPI Logo"/>
            <img style="width: 40px" class="tool-icon" src="./static/images/tools/go-seeklogo.png" alt="GO Logo"/>
            <img class="tool-icon" src="./static/images/tools/redis-seeklogo.png" alt="Redis Logo"/>
            <img style="width: 75px" class="tool-icon" src="./static/images/tools/php-seeklogo.png" alt="Php Logo"/>
            <img class="tool-icon" src="./static/images/tools/github-seeklogo.png" alt="Github Logo"/>
            <img style="width: 60px" class="tool-icon" src="./static/images/tools/docker-icon-seeklogo.png" alt="Docker Logo"/>
        </div>
    </div>

    <div class="packages-layout">
        {% for package in SERVICE_PACKAGES %}
        <div class="package-container">
            <div class="package-title-container">
                <h5 class="package-title">{{package.title}}</h5>
            </div>
            <div class="package-service-container">
                {% for service in package.services %}
                <span class="package-service-item">- {{service}}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- SECTION_BREAK -->
    <nav style="width: 100%; height: 0; border-bottom: 1px solid var(--border-color); margin-top: 100px"></nav>

</section>

<!-- PACKAGES -->
<section id="contact" class="contact-container">

    <div>
        <!-- SECTION TITLE -->
        <div class="section-title-container" style="margin: 0; padding: 0">
            <h5>Get in Touch!</h5>
            <p style="max-width: 450px">
                Have a question, suggestion, or just want to connect? Use the form below to send us an email directly. We’ll make sure your message reaches the right person quickly and efficiently, so you get the answers or support you need without any hassle.
            </p>
        </div>

        <!-- FORM -->
        <form class="contact-form">
            <input class="form-field" type="text" id="name" name="name" placeholder="Name">
            <input class="form-field" type="email" id="email" name="email" placeholder="Email">
            <textarea class="form-field" id="message" name="message" rows="4" cols="50" placeholder="Message"></textarea>
            <input class="form-submit-button" type="submit" value="Submit">
        </form>
    </div>

    <!-- IMAGE -->
    <img style="
    width: 35vw;
    min-width: 400px;
    filter: saturate(0);
    opacity: 0.5;"
         src="./static/images/call-centre.png"
         alt="Call centre illustration">

</section>

{% endblock %}
